.wrapper-navigation {
  @media only screen and (max-width: 480px) {
    left: -75px;
    z-index: 2;
    transition: width 300ms ease-in-out, left 300ms ease-in-out;
    position: fixed;
  }

  background-color: white;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  border-right: 2px solid #ddd;
  width: 75px;
  transition: width 100ms ease-in-out;
  display: flex;
  flex-direction: column;

  &.open {
    width: 276px;

    @media only screen and (max-width: 480px) {
      left: 0;
      display: flex;
    }
  }
}

.wrapper-overlay {
  opacity: 0;
  transition: opacity 400ms ease-in-out;

  &.open {
    background: rgba(0, 0, 0);
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
}

.logo-btn {
  opacity: 1;
  transition: opacity 100ms ease-in-out;

  &:hover {
    opacity: 0.9;
  }
}

.wrapper-navigation-top {
  display: flex;
  padding: 10px 14px;
  align-items: center;
  border-bottom: 2px solid #eee;

  cebs-title {
    margin-left: 16px;
  }

  button {
    padding: 0;
    border: none;
    background: none;
  }
}

.wrapper-navigation-middle {
  overflow-x: hidden;
  overflow-y: auto;
  flex-grow: 1;
}

.wrapper-section {
  padding: 24px 16px;
  border-bottom: 1px solid #eee;
}

.wrapper-text {
  margin-left: 8px;
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: all 600ms ease-in-out;
}

.wrapper-navigation.open .wrapper-text {
  display: block;
  opacity: 1;
}

.wrapper-navigation-bottom {
  border-top: 1px solid #eee;
  padding: 16px 16px;
}

.footer-content {
  overflow: hidden;
  height: 32px;
  opacity: 0;
  font-size: 10px;
  text-align: center;
  transition: all 600ms ease-in-out;
  white-space: nowrap;
}

.wrapper-navigation.open .footer-content {
  opacity: 1;
  height: auto;
}
