<div resize (isMobileEvent)="onScreenChange($event)" class="wrapper-container">
  <cebs-container class="wrapper-container-register">
    <div class="wrapper-header" *ngIf="isMobile ? true : false">
      <cebs-header-back-button></cebs-header-back-button>
    </div>
    <div class="wrapper-text">
      <cebs-title [size]="isMobile ? 'medium' : 'large'" color="primary">
        Crie uma Nova Conta
      </cebs-title>
    </div>
    <div class="wrapper-text">
      <cebs-text data-testid="description">
        Crie uma nova conta para poder gerenciar suas contabilidades
      </cebs-text>
    </div>
    <div class="wrapper-form">
      <form [formGroup]="form" (submit)="onSubmit(form)">
        <cebs-form>
          <cebs-input
            type="text"
            formControlName="name"
            placeholder="Nome"
            ariaLabel="name"
          ></cebs-input>
          <cebs-error
            *ngIf="((name.touched && name.dirty) || submitted) && name.errors?.['required']"
          >
            O nome é obrigatório
          </cebs-error>
          <cebs-error *ngIf="name.touched && name.errors?.['minlength']">
            O nome deve conter no mínimo 3 letras
          </cebs-error>
        </cebs-form>
        <cebs-form>
          <cebs-input
            type="email"
            formControlName="email"
            placeholder="Email"
            ariaLabel="email"
          ></cebs-input>
          <cebs-error-validation-email
            [email]="email"
            [submitted]="submitted"
          ></cebs-error-validation-email>
        </cebs-form>
        <cebs-form>
          <cebs-input
            formControlName="password"
            placeholder="Senha"
            ariaLabel="password"
            [type]="showPassword ? 'text' : 'password'"
            [appendIcon]="showPassword ? 'visibility_off' : 'visibility'"
            (appendIconClickEvent)="toggleVisibility()"
          ></cebs-input>
          <cebs-error-validation-password
            [password]="password"
            [submitted]="submitted"
          ></cebs-error-validation-password>
        </cebs-form>
        <div class="wrapper-checkbox">
          <div class="wrapper-checkbox-label">
            <cebs-checkbox ariaLabel="terms" formControlName="terms"></cebs-checkbox>
            <cebs-text>
              Eu aceito os <cebs-link>Termos de Serviço</cebs-link> e a
              <cebs-link>Politica de Privacidade</cebs-link>
            </cebs-text>
          </div>
          <cebs-error *ngIf="submitted && terms.errors?.['required']">
            É obrigatório concordar com os termos
          </cebs-error>
        </div>

        <div class="wrapper-button">
          <cebs-button
            ariaLabel="register"
            type="submit"
            color="primary"
            [block]="isMobile ? true : false"
          >
            Criar uma Conta
          </cebs-button>
        </div>
      </form>
    </div>
  </cebs-container>
  <div class="wrapper-right-register-desktop" *ngIf="isMobile ? false : true">
    <div><cebs-logo color="white"></cebs-logo></div>
  </div>
</div>
