<cebs-container>
  <div class="wrapper-logo">
    <cebs-logo></cebs-logo>
  </div>
  <cebs-title color="primary">Bem vinda(o)!</cebs-title>
  <div class="wrapper-text">
    <cebs-text>
      Eu estou tão feliz em te ver. Você pode continuar fazendo login para gerenciar suas
      contabilidades
    </cebs-text>
  </div>
  <form [formGroup]="form" (submit)="onSubmit(form)" style="width: 100%">
    <div class="wrapper-input">
      <cebs-form>
        <cebs-input type="email" placeholder="Email" formControlName="email"></cebs-input>
        <cebs-error-validation-email
          [email]="email"
          [submitted]="submitted"
        ></cebs-error-validation-email>
      </cebs-form>
    </div>

    <div class="wrapper-input">
      <cebs-form>
        <cebs-input
          placeholder="Password"
          formControlName="password"
          [appendIcon]="showPassword ? 'visibility_off' : 'visibility'"
          [type]="showPassword ? 'text' : 'password'"
          (appendIconClickEvent)="toggleVisibility()"
        ></cebs-input>
        <cebs-error
          *ngIf="(password.touched || submitted) && password.errors?.['required']"
        >
          A senha é obrigatória
        </cebs-error>
        <cebs-error *ngIf="password.touched && password.errors?.['invalidPassword']">
          Password should have minimum 8 characters, at least 1 uppercase letter, 1
          lowercase letter and 1 number
        </cebs-error>
      </cebs-form>
    </div>
    <div class="wrapper-link">
      <cebs-link routerLink="/auth/forgot-password">Esqueceu sua senha?</cebs-link>
    </div>
    <cebs-button [block]="true" color="primary" type="submit"> Login </cebs-button>
  </form>
  <div class="wrapper-dont-have-account">
    <cebs-text>Vocẽ não tem uma conta? <cebs-link>Cadastre!</cebs-link></cebs-text>
  </div>
</cebs-container>
