<cebs-container>
  <div class="wrapper-logo">
    <cebs-logo></cebs-logo>
  </div>
  <cebs-title color="primary">Bem vinda(o)!</cebs-title>
  <div class="wrapper-text">
    <cebs-text>
      Eu estou tão feliz em te ver. Você pode continuar fazendo login para gerenciar suas
      contabilidades
    </cebs-text>
  </div>
  <form [formGroup]="form" (submit)="onSubmit(form)" style="width: 100%">
    <div class="wrapper-input">
      <cebs-form>
        <cebs-input type="email" placeholder="Email" formControlName="email"></cebs-input>
        <cebs-error-validation-email
          [email]="email"
          [submitted]="submitted"
        ></cebs-error-validation-email>
      </cebs-form>
    </div>

    <div class="wrapper-input">
      <cebs-form>
        <cebs-input
          placeholder="Password"
          formControlName="password"
          [appendIcon]="showPassword ? 'visibility_off' : 'visibility'"
          [type]="showPassword ? 'text' : 'password'"
          (appendIconClickEvent)="toggleVisibility()"
          data-testid="password"
        ></cebs-input>
        <cebs-error-validation-password
          [password]="password"
          [submitted]="submitted"
        ></cebs-error-validation-password>
      </cebs-form>
    </div>
    <div class="wrapper-link">
      <cebs-link routerLink="/auth/forgot-password">Esqueceu sua senha?</cebs-link>
    </div>
    <cebs-button [block]="true" color="primary" type="submit" data-testid="button-login">
      Login
    </cebs-button>
  </form>
  <div class="wrapper-dont-have-account">
    <cebs-text>
      Vocẽ não tem uma conta?
      <cebs-link routerLink="/auth/register">Cadastre!</cebs-link>
    </cebs-text>
  </div>
</cebs-container>
