/* You can add global styles to this file, and also import other style files */
@import '~@angular/cdk/overlay-prebuilt.css';
@import '~@ng-select/ng-select/themes/default.theme.css';

:root {
  --primary-color: #9a178f;
  --primary-color-hover: #ffeefe;
  --primary-color-hover-dark: #ad40a4;
  --primary-color-rgb: 154, 23, 143;

  --color-button-default: #a1a5b7;

  --form-control-form: var(--primary-color);
  --input-disabled: #959495;

  --text-dark-gray: #848a8d;
  --text-black: #1b262c;
  --text-error: #ff0033;

  --background-input: #f5f6f8;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  height: 100%;
  width: 100%;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

ul {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
