/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #9a178f;

  --text-dark-gray: #848a8d;
}

html,
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
